.container__image {
  min-width: 300px;
  width: 100%;
  background-image: url('./../Assets/icons/img/btc-network-2x.png');
  margin: 0 0 30px;
}

.section-table {
	justify-content: center;

}

footer {
	font-size: 1.7rem;
	line-height: 15px;
}