/* 
1.Posicionamiento
2.Box model
3.Tipografia
4.Visuales
5.Miselaneos 
*/

:root {
	--bitcoin: #F7931A;
	--soft: #FFE9D4;
	--sky: #1A9AF7;
	--soft-sky:#E7F5FF;
	--gray: #BABABA;
	--warm-b: #282623;
	--off:#FAF8F7;
	--dm: 'DM Sans' , sans-serif;
	--inter: 'Inter', sans-serif;
	--produc-gray: #808080;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	/* el cambio en porcentaje y no en px fijos es en caso que un usuario haya modificado los valors por defecto del nav y asi no causemos conflictos con un valor fijo */
	font-size: 62.5%;
	font-family: var(--dm);
	/* scroll-behavior: smooth; */
	overscroll-behavior-x: contain;
}

body {
	min-width: 300px;
}

.header {
	position: relative;
	font-family: var(--inter);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:100vw;
	min-width: 320px; 
	height: 334px;
	text-align: center;	
	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
	
	/* animacion totalmente innecesaria pero que vi y quise copy/paste */

	background-size: 400% 400%;

    -webkit-animation: bgAnimateBitcoin 20s ease infinite;
    -moz-animation: bgAnimateBitcoin 20s ease infinite;
    animation: bgAnimateBitcoin 20s ease infinite;
}

@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}

		/* fin de la animacion totalmente innecesaria */ /*calculo para centrar */

}

.header__logo{
    display: flex;
	width:150px;
	height:28px;
	margin-top:55px;
	align-self: center;
}

.header__title {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 100%;
	min-width: 288px;
	height: 218px;
	margin: 40px auto ;
}

.header__title  h1{
	width: 100%;
	color: var(--off);
	font-size: 2.4 rem;
	font-weight:bold;
	line-height: 2.6 rem;
	margin-bottom: 20px;
}

.header__title p {
	width: 100%;
	/* margin-top: 20px; */
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft);
}

.header__btn{
	display: block;
	position: absolute;
	padding: 1.6rem;
	width :229px;
	top: 270px;
	margin-top: 35px;
	height: 48px;
	left: calc(50% - 118px); /*calculo para centrar */
	color: var(--warm-b);
	border-radius: 7px;
	background-color: var(--off);
	box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.16);
	font-weight: bold;
	text-decoration: none;
	font-size: 1.4rem;
	font-family: var(--inter);
}

span {
	display: inline-block;
	color: var(--warm-b);
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 15px;
	width: 13px;
	height: 8px;
	background-image: url(../Assets/icons/down-arrow.svg);
}

.main {
	width: 100%;	
	min-width: 320px;
	height:auto;
	background-color: var(--off);
}

.container-exchanges {
	width: 100%;
	height: auto;
	text-align: center;
}

.container__title{
	/* /* al no estar al 100% a la hora que el margen tenga los valores de 0 y automatico lo centrara de manera automatica. */
	width: 90%;
	max-width: 900px;
	min-width: 288px;
	margin: 0 auto; 
	font-size: 1.4rem;
}

.container__title h2 {
	margin-bottom: 2rem;
	line-height: 2.2rem;
	font-weight: bold;
}

.container__title p {
	color: #757575;
	margin-bottom: 10px;
}

 .container__image{
	width: 250px;
	height:250px;
	margin: 0 auto;
	margin-bottom: 50px;
	background-image: url('./../Assets/icons/img/Bitcoin.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section-table {
	font-family: var(--dm);
	display: flex;
	gap: 100px;
	padding: 20px;
	overflow-x: scroll;
	/* overscroll-behavior-x: contain; */
	scroll-snap-type: x proximity;
	position: relative;
	width: 100%;
	height:100%;
	background-color: var(--off); 
	align-items: center;
}

.general-table {
	height: 400px;
	align-self:center ;
	margin-left: 39px;
	scroll-snap-align: center;
}

.general-table + p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.8rem;
}

.general-table div {
	width: 90%;
	min-width: 235px;
	max-width: 500px;
	height: 250px;
	scroll-snap-align: center;

}

.tables-header {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.4rem;
}

.table {
	width: 100%;
	height: 100%;
        position: relative;
}

.table td {
	/* la diferencia entre definir este width y no es que las celdas de la tabla no tienen medidas iguales, sino que la izquierda tiene uno y la derecha otro mientras que con el 50% cada  */
	width: 50%;
	padding: 5px;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.9rem;
	color: var(--gray);
	background-color: #fff;
	/*Alineacion hacia la izquierda con un padding desde su contenedor hasta el texto */
	text-align: left;
	text-indent: 20px;
}

.table + .general_buttom {		
	display: flex;
	margin-top: 30px;
	height: 3rem;
	font-weight: normal;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	margin-bottom: 30px ;
}

.general_buttom > p {
	line-height:15px;
	font-size: 1.2rem;
}


.icon {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.down {
	background-image: url(../Assets/icons/trending-down.svg);
}

.up {
	background-image: url(../Assets/icons/trending-up.svg);
}

div > .table {
  width: 100%;
  border-radius: 20px;
  overflow: hidden; /*Esto es importante*/
}


.first-table > p {
	color: var(--bitcoin);	
}

.first_buttom {
	background-color: var(--bitcoin);
}

.second-table > p {
	color: var(--sky);
}

.second-table {
	margin-right: 39px;
}

.second_bottom {
	background-color: var(--sky);
}

.products-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position : relative;
	padding: 20px 20px;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	margin-top: 19px;
}

.patata {
	background-image: url(../Assets/icons/batata.svg);
	width: 40px;
	height: 25px;
	position:absolute;
	top: -10px;
	left: calc(50% - 20px);
}

.products__header {
	margin: 20px 0;
	min-width:288px;
	height: auto;
	text-align: center;
}

.products__header h2 {
	font-size: 2.4rem;
	line-height: 2.6rem;
	margin-bottom: 20px;
} 

.products__header p {
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: var(--produc-gray)
}

.product-section {
  width: 100%;
  height: 100vh;
  font-family: var(--dm);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product__card {
  width: 100%;
  min-height: 152px;
  max-width: 440px;
  border-radius: 4px;
  background-color: var(--warm-b);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  padding: 20px;
  text-align: left;
}

.card__title {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 18px;
  margin-bottom: 20px;
}

.card__body {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 18px;
  color: var(--produc-gray);
}

.clock {
    background-image: url('./../assets/icons/clock.svg');
}

.eye {
    background-image: url('./../assets/icons/aye.svg')
}

.dolar {
    background-image: url('./../assets/icons/dollar-sign\ 1.svg');
}

.circle{
    background-image: url('./../assets/icons/check-circle\ 1.svg');
}

.girl-section {
min-width: 320px;
width: 100%;
height: 387px;
background-image: url('./../Assets/icons/img/bb2x.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.girl-section > h2 {
	padding-top: 60px;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--off);
	text-align: center;
}

.hard-font {
	font-weight: bold;
	line-height: 15px;
}

.less-font {
	font-weight: 500;
	line-height: 18px;
}

.plans-section {
padding-top:  50px;
width: 100%;
height: 100%;
}

.plans-section > div {
	text-align: center;
	margin-bottom:  50px;
}

.plans-section > div > h2{
	font-size: 2.4rem;
	margin-bottom:  20px;
	line-height: 30px; 
}

.plans-section > div > p{
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 18px;
	margin: 0 30px;
}

.cards-container {
	width: 100vw;
	height: 100%;
	display: flex;
	gap: 20px;
	padding: 20px;
	overflow-x: scroll;
	/* evita que exista ese "temblor" al llegar al borde con el dedo de la web */
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
}

.card {
	width:  70%;
	height: 30%;	
	min-width: 190px;
	min-height: 247px;
	border-radius: 7px;
	margin:  0 auto;
	position:  relative;
}

.card > div 	{
	position: relative;
	min-width: 200px;
	max-width: 259px;
	max-height: 260px;
	padding:  4px;
	font-family: var(--inter);
	background-color: white ;
	width:  100%;
	height:  40vh;
	border-radius: 7px;
	display:  flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  scroll-snap-align: center;

}

.card > div > h3 {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 18px;
	text-align: center;
}

.price {
	font-family: var(--inter);
	font-size: 5.2rem;
	position:  relative;
	letter-spacing: -0.9px;
	}

p > sub {
 	color:  red;
 	position: absolute;
 	left: -9px;
 	top: -3px;
	font-size: 1.3rem;
	line-height: 5px;
	text-align: center;
}

.price + p {
	color:  var(--gray);
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 15px;
	text-align: center;
}

.float-label {
	position: absolute;
	z-index: 1;
	left: calc(50% - 50px);
	top: -17px;
	height: auto;
	width: 101px;
	padding: 8px;
	background-color: var(--bitcoin);
	border-radius: 8px;
	text-align: center;
	font-family: var(--inter);
	font-size: 1.2rem;
	color:white;
}

.plans__btn {
	width: 150px;
	height: 48px;
	border: 3px solid var(--bitcoin);
	border-radius: 4px;	
	outline:  none;
	background-color: var(--off);
	font-family: var(--dm);
}

.plans__btn > span {
 width: 25px;
 height: 25px;
 background-image: url(../Assets/icons/orange-right-arrow.svg);
 margin: 0;
}

footer {
	display: flex;
	background-color: var(--bitcoin);
	height: 20vh;
}

.footer__media {
	display:flex;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;
	width: 50vw;
	height: 100%;
	text-align: center;
}

.footer__media > ul > li {
	list-style: none;
	color: white;
	line-height: 18px;
}

.footer__icon {
	display:flex;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;
	width: 50vw;
	height: auto;
}

.footer__icon > div {
	width: 30px;
	height: 30px;
}