.product-section {
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height:auto;
	padding: 40px 0;
}

.product-section .product__card {
	max-width: 350px;
  	height: 152px;
}